In [13]:
# isnull() function 
import pandas as pd 
df=pd.read_csv('C:/Users/Admin/Downloads/classical_composers.csv',encoding='unicode_escape')

df.isnull()

,Composer,Nationality,Born,Died,Biggest Piece,Duration of Biggest Piece(mins)
0,True,True,True,True,True,True
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,True
...,...,...,...,...,...,...
96,False,False,False,False,False,False
97,False,False,False,False,False,True
98,False,False,False,False,False,True
99,False,False,False,False,False,False
100,False,False,False,False,False,True

In [14]:
# notnull() function
import pandas as pd

df=pd.read_csv('C:/Users/Admin/Downloads/classical_composers.csv',encoding='unicode_escape')

df.notnull()

,Composer,Nationality,Born,Died,Biggest Piece,Duration of Biggest Piece(mins)
0,False,False,False,False,False,False
1,True,True,True,True,True,True
2,True,True,True,True,True,True
3,True,True,True,True,True,True
4,True,True,True,True,True,False
...,...,...,...,...,...,...
96,True,True,True,True,True,True
97,True,True,True,True,True,False
98,True,True,True,True,True,False
99,True,True,True,True,True,True
100,True,True,True,True,True,False

In [15]:
#dropna() function 
import pandas as pd

df=pd.read_csv('C:/Users/Admin/Downloads/classical_composers.csv',encoding='unicode_escape')

df.dropna()

,Composer,Nationality,Born,Died,Biggest Piece,Duration of Biggest Piece(mins)
1,Ludwig van Beethoven,German,1770.0,1791.0,Symphony No. 9,65.0
2,Wolfgang Amadeus Mozart,Austrian,1756.0,1791.0,Symphony No.41,33.0
3,Johann Sebastian Bach,German,1685.0,1750.0,Mass in B minor,125.0
5,Joseph Haydn,Austrian,1732.0,1809.0,Symphony No. 45,25.0
6,Johannes Brahms,German,1833.0,1897.0,Symphony No. 4,40.0
...,...,...,...,...,...,...
90,Darius Milhaud,French,1892.0,1974.0,"Scaramouche, Le boeuf sur le toit",10.0
91,Orlando Gibbons,English,1583.0,1625.0,Hosanna to the Son of David,4.0
93,Samuel Barber,American,1910.0,1981.0,"Adagio for Strings, Knoxville: Summer of 1915",8.0
96,Manuel de Falla,Spanish,1876.0,1946.0,"El amor brujo, Noches en los jardines de España",23.0
99,Alexander Glazunov,Russian,1865.0,1936.0,"The Seasons, Symphony No. 5",35.0

In [16]:
#fillna() function 
import pandas as pd

df=pd.read_csv('C:/Users/Admin/Downloads/classical_composers.csv',encoding='unicode_escape')

df.fillna(0)

,Composer,Nationality,Born,Died,Biggest Piece,Duration of Biggest Piece(mins)
0,0,0,0.0,0.0,0,0.0
1,Ludwig van Beethoven,German,1770.0,1791.0,Symphony No. 9,65.0
2,Wolfgang Amadeus Mozart,Austrian,1756.0,1791.0,Symphony No.41,33.0
3,Johann Sebastian Bach,German,1685.0,1750.0,Mass in B minor,125.0
4,Richard Wagner,German,1813.0,1883.0,Der Ring des Nibelungen,0.0
...,...,...,...,...,...,...
96,Manuel de Falla,Spanish,1876.0,1946.0,"El amor brujo, Noches en los jardines de España",23.0
97,Hildegard von Bingen,German,1098.0,1179.0,"Ordo Virtutum, Symphony of the Harmony of Cele...",0.0
98,Mikhail Glinka,Russian,1804.0,1857.0,"A Life for the Tsar, Ruslan and Ludmila",0.0
99,Alexander Glazunov,Russian,1865.0,1936.0,"The Seasons, Symphony No. 5",35.0
100,Don Carlo Gesualdo,Italian,1566.0,1613.0,"Madrigals, Tenebrae Responsories",0.0

In [17]:
#interpolate() function 
import pandas as pd 

df=pd.read_csv('C:/Users/Admin/Downloads/classical_composers.csv',encoding='unicode_escape')

df.interpolate()

,Composer,Nationality,Born,Died,Biggest Piece,Duration of Biggest Piece(mins)
0,NaN,NaN,NaN,NaN,NaN,NaN
1,Ludwig van Beethoven,German,1770.0,1791.0,Symphony No. 9,65.0
2,Wolfgang Amadeus Mozart,Austrian,1756.0,1791.0,Symphony No.41,33.0
3,Johann Sebastian Bach,German,1685.0,1750.0,Mass in B minor,125.0
4,Richard Wagner,German,1813.0,1883.0,Der Ring des Nibelungen,75.0
...,...,...,...,...,...,...
96,Manuel de Falla,Spanish,1876.0,1946.0,"El amor brujo, Noches en los jardines de España",23.0
97,Hildegard von Bingen,German,1098.0,1179.0,"Ordo Virtutum, Symphony of the Harmony of Cele...",27.0
98,Mikhail Glinka,Russian,1804.0,1857.0,"A Life for the Tsar, Ruslan and Ludmila",31.0
99,Alexander Glazunov,Russian,1865.0,1936.0,"The Seasons, Symphony No. 5",35.0
100,Don Carlo Gesualdo,Italian,1566.0,1613.0,"Madrigals, Tenebrae Responsories",35.0

In [18]:
# encoding 
import pandas as pd

df=pd.read_csv('C:/Users/Admin/Downloads/classical_composers.csv',encoding='unicode_escape')

print(df)

                     Composer   Nationality     Born    Died  \
0                         NaN            NaN     NaN     NaN
1        Ludwig van Beethoven      German     1770.0  1791.0
2    Wolfgang Amadeus Mozart        Austrian  1756.0  1791.0
3      Johann Sebastian Bach       German     1685.0  1750.0
4              Richard Wagner      German     1813.0  1883.0
..                        ...            ...     ...     ...
96            Manuel de Falla        Spanish  1876.0  1946.0
97       Hildegard von Bingen      German     1098.0  1179.0
98             Mikhail Glinka        Russian  1804.0  1857.0
99         Alexander Glazunov        Russian  1865.0  1936.0
100        Don Carlo Gesualdo        Italian  1566.0  1613.0

                                         Biggest Piece  \
0                                                  NaN
1                                    Symphony No. 9
2                                       Symphony No.41
3                                      Mass in B minor
4                              Der Ring des Nibelungen
..                                                 ...
96     El amor brujo, Noches en los jardines de España
97   Ordo Virtutum, Symphony of the Harmony of Cele...
98             A Life for the Tsar, Ruslan and Ludmila
99                         The Seasons, Symphony No. 5
100                   Madrigals, Tenebrae Responsories

     Duration of Biggest Piece(mins)
0                                NaN
1                               65.0
2                               33.0
3                              125.0
4                                NaN
..                               ...
96                              23.0
97                               NaN
98                               NaN
99                              35.0
100                              NaN

[101 rows x 6 columns]

In [19]:
# duplicated() function
import pandas as pd

data={'Number':['1','2','3','3'],
       'Letter':['A','B','C','A']}

df = pd.DataFrame(data)

dupl=df.duplicated()

print(data)

print(dupl)

{'Number': ['1', '2', '3', '3'], 'Letter': ['A', 'B', 'C', 'A']}
0    False
1    False
2    False
3    False
dtype: bool

In [20]:
#drop_duplicates()
import pandas as pd

data={'Number':['1','2','3','3'],
       'Letter':['A','B','C','A']}

dupl=df.drop_duplicates()

print(data)

print(dupl)

{'Number': ['1', '2', '3', '3'], 'Letter': ['A', 'B', 'C', 'A']}
  Number Letter
0      1      A
1      2      B
2      3      C
3      3      A